{% extends "home.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
    {% block content %}
        <!-- <div class="first"> <p>first</p> <p>first</p> <p>first</p> <p>first</p>
        </div> <div class="second"> <p>second</p></div> <div class="third">
        <p>third</p></div> -->
        <section>
            <div class="first">
                <p> news list</p>
                <hr>
            </div>
            <div class="second">
                
                <hr>
            </div>
            <div class="third">
               
            </div>

        </section>

    {% endblock %}