{% extends "home.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block content %}
    <p>news sports</p>

    <!-- title : data[0] link: data[1] date: data[2] descs: data[3] writer:
    data[4]-->
    <div>
        {% if key == 'kbaseball' %}
            <h2>
                야구
            </h2>
        {% elif key == 'kfootball' %}
            <h2>
                축구
            </h2>
        {% elif key == 'wfootball' %}
            <h2>
                해외축구
            </h2>
        {% endif %}
        <br>
        {% for data in message%}
            <h4>
                <li>
                    <a href="{{data.letter_link}}" target="_blank">{{ data.title }}</a>
                </li>
            </h4>
            <li>{{data.preview}}</li>
            <li>{{data.writer}}</li>
            <li>{{data.published_date}}</li>

            <hr>
        {% endfor %}

    </div>
    {% include 'news/news_pagination.html' with page=message %}

{% endblock %}