{% extends "home.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block content %}
    <p>news detail</p>
    <!-- title : data[0] link: data[1] date: data[2] descs: data[3] writer:
    data[4]-->
    <div class = "save">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="save btn btn-warning">새로 가져오기
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </form>
    </div>
    <div>
        {% if key.0 == 101 %}
            {% if key.1 == 259 %}
                <h2>
                    금융
                </h2>
            {% elif key.1 == 258 %}
                <h2>
                    증권
                </h2>
            {% elif key.1 == 261 %}
                <h2>
                    산업/재계
                </h2>
            {% endif %}
        {% elif key.0 == 105 %}
            {% if key.1 == 731 %}
                <h2>
                    모바일
                </h2>
            {% elif key.1 == 226 %}
                <h2>
                    인터넷/SNS
                </h2>
            {% elif key.1 == 227 %}
                <h2>
                    통신/뉴미디어
                </h2>
            {% endif %}
        {% endif %}
        <br>
        {% for data in message%}
            <h4>
                <li>
                    <a href="{{data.letter_link}}" target="_blank">{{ data.title }}</a>
                </li>
            </h4>
            <li>{{data.preview}}</li>
            <li>{{data.writer}}</li>
            <li>{{data.published_date}}</li>

            <hr>
        {% endfor %}
    </div>
    {% include 'news/news_pagination.html' with page=message %}

{% endblock %}