/* css selector */
.page-header {
    /* background-color: #9999ff; */
    background-image: url('img/galaxy.jpg');
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 80px;
}

h1{
    font-family: 'Lobster',cursive;
}

.date {
    color: #828282;
}

.save {
    margin-right: 20px;
    float : right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}
#wrap{
    width:300px;
    height:300px;
    margin:0 auto;
}
#left {
    width:30%; 
    height:100px;
    /* background-color:red; */ 
    float:left;
    margin-right:30px;
}
 
#middle {
    width:30%;
    height:100px;
   /*  background-color:blue; */ 
    float:left;
    margin-right:30px;

}
 
#right {
    width:30%; 
    height:100px;
   /* background-color:green;*/ 
    float:left;
    margin-right:30px;

}
#footer{
    width:20% ;
    height:100px;
   background-color:pink; 
    clear:both;
    float: bottom;
 }
#font-bold{
    font-weight: bold;
}

/* 사이드 바*/
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #dfdfdf;
}

body {
    height: 10000px;
}

.left-side-bar {
    background-color: #dfdfdf;
    height: 100%;
    width: 180px;
    position: fixed;
    left: -155px;
    transition: left .3s;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: black;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}